div.log-panel {
	position: fixed;
	bottom: 6em;
	left: 1em;
	min-height: 14em;
	max-height: 14em;
	min-width: 2em;
	max-width: 2em;
	font-size: 0.7em;
	border: 2px solid white;
	white-space: normal;
	overflow-wrap: break-word;
	overflow: hidden;
	z-index: 100;
	cursor: pointer;
	background-color: GhostWhite;
}

div.log-panel div.content {
	display: none;
}

div.log-panel div.icon {
	display: block;
	min-height: 14em;
	max-height: 14em;
	min-width: 2em;
	max-width: 2em;
	background-image: url("../img/mt-log-left.png");
	background-repeat: no-repeat;
}

div.log-panel:hover div.content {
	display: block;
}

div.log-panel:hover div.icon {
	display: none;
}

div.log-panel:hover {
	min-witdh: 60%;
	witdh: 60%;
	max-width: 60%;
	min-height: 60%;
	height: 60%;
	max-height: 60%;
	overflow: scroll;
	padding: 2em;
	background-color: white;
	border: 2px solid gray;
}

div.mp div.meeting-type-list-view {
	xborder: 1px dashed gray;
	padding: 0.2em;
}

/** test scrollto*/
div.mp div.meeting-type-list {
	xmax-height: 400px;
	xoverflow: scroll;
}

div.mp div.header {
	border: 1px dashed gray;
	padding: 0.2em;
	margin: 0.2em 0em;
	background-color: GhostWhite;
	cursor: pointer;
}

div.mp div.header {
	border: none;
	padding: 0em;
	margin: 0em 0em;
	background-color: GhostWhite;
	cursor: default;
}

div.mp div.meeting-type-list-view div.header {
	border: none;
	padding: 0em;
	margin: 0em 0em;
	background-color: GhostWhite;
	cursor: default;
}

div.mp div.new-meeting-type {
	background-color: yellow;
}

/** icon */
div.mt-list.mini div.toolbar {
	display: none;
}

div.mt-list.mini div.header {
	font-size: 50%;
}

div.meeting-type div.header {
	background-color: #E6E6F2;
	color: GhostWhite;
	color: black;
}

div.meeting div.header {
	background-color: #B8B8C2;
	color: white;
}

div.mp div.meeting-type-list-view div.document-list div.header {
    background-color: white;
    color: inherit;
}

div.mt-list div.main {
	xborder: 1px dashed gray;
	xpadding: 1em;
	margin: 0em 0em;
}

div.meeting-list-element {
	background-color: GhostWhite;
}

div.agenda-list-element {
	background-color: #B2C2B2;
}

div.agenda div.header {
	background-color: #6B746B;
	color: lightgray;
}

div.toolbar {
	xborder: 1px dashed gray;
	xpadding: 0em 0em;
	xmargin: 1em 0em;
	xfont-size: 80%;
	padding: 0.4em;
	border: 1px dashed gray;
	margin: 0.6em 0em;
	overflow-y: auto;
}

div.info-box {
	border: 1px dashed transparent;
	padding: 1em;
	margin: 1em 0em;
	font-weight: bold;
	font-style: italic;
}

div.warn-box {
	border: 1px dashed Orange;
	padding: 1em;
	margin: 1em 0em;
	font-weight: bold;
	font-style: italic;
}

/* table { */
/* 	border-spacing: 0; */
/* 	border-collapse: collapse; */
/* } */

/* tr.header { */
/* 	border: gray 1px solid; */
/* } */

/* tr.header * { */
/* 	font-weight: bold; */
/* 	padding: 0em 0.2em; */
/* } */

/* tr.even { */
/* 	background-color: white; */
/* } */

/* tr.odd { */
/* 	background-color: LightGray; */
/* } */

/* div.title1 * { */
/* 	font-size: 2em; */
/* 	font-weight: bold; */
/* 	ccolor: gray; */
/* } */

/* div.title2 * { */
/* 	font-size: 1.4em; */
/* 	font-weight: bold; */
/* 	ccolor: gray; */
/* } */

/* div.title3 * { */
/* 	font-size: 1.2em; */
/* 	font-weight: bold; */
/* 	color: gray; */
/* } */
div.new-meeting-panel,div.new-meeting-type-panel {
	margin-left: 4em;
	padding: 1em;
	border: gray dashed 1px;
}

div.float-right {
	display: block;
	float: right;
}

div.float-left {
	display: block;
	float: left;
}

div.meeting-type-element,div.meeting-list-element,div.agenda-list-element
	{
	display: block;
	padding: 0.4em;
	border: 1px dashed gray;
	margin: 0.6em 0em;
	overflow-y: auto;
}

div.meeting-list-panel {
	display: block;
	padding: 0.4em;
	border: 1px dashed gray;
	margin: 0.6em 0em;
}

div.meeting-type-element:hover {
	background-color: #E6E6F2;
	font-weight: bold;
	color: Black;
}

div.meeting-list-element:hover {
	background-color: #B8B8C2;
	font-weight: bold;
	color: white;
}

xdiv.meeting div.title2 {
	color: white;
}

div.agenda-list-element:hover {
	background-color: #6B746B;
	font-weight: bold;
	color: white;
}

div.meeting-list-element *,div.agenda-list-element * {
	display: inline-block;
	cursor: pointer;
}

div.meeting-list-element div.name,div.agenda-list-element div.name {
	min-width: 16em;
}

div.meeting-list-element div.startTime {
	min-width: 10em;
}

div.meeting-list-element div.endTime {
	min-width: 10em;
}

div.meeting-list-element div.description {
	display: none;
}

div.meeting-list-element div.location {
	display: none;
}

div.meeting-list-element div.actions,div.agenda-list-element div.actions
	{
	min-width: 12em;
	float: right;
}

div.mt-meeting-name {
	position: relative;
	xleft: 10%;
	xborder: solid 1px white;
	display: inline-block;
	min-width: 90%;
	max-width: 90%;
	cursor: pointer;
}

div.mt-next-meeting-time {
	display: none;
}

div.mt-log-panel div.info {
	background-color: LightGreen;
}

xdiv.mt-busy-icon {
	min-height: 2em;
	xmin-width: 5em;
	position: relative;
	z-index: auto;
	overflow: auto;
	border: green dotted 2px;
	padding: 0.2em;
	font-size: 80%;
	font-weight: bold;
}

div.mt-busy-icon {
	position: absolute;
	top: 0px;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background-color: lightGray;
	opacity: .7;
	filter: alpha(opacity =               70);
}

div.mp-cool-icon {
	position: absolute;
	top: 0px;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background-color: lightGray;
	opacity: .3;
	filter: alpha(opacity =               30);
	min-height: 500px;
	text-align: center;
	vertical-align: middle;
	padding-top: 3em;
}

div.mt-busy-icon.running {
	border: red dotted 2px;
	background-image: url("../img/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: right;
}

}
span.ui-icon-custom-busy {
	background-image: url("../img/ajax-loader.gif");
	background-position: -4px -4px;
}

/** small batch icons on MT */
div.mt-small-icon {
	position: relative;
	top: -2em;
	margin-right: 1em;
	min-height: 0.4em;
	max-height: 0.4em;
	min-width: 0.4em;
	max-width: 0.4em;
	cursor: pointer;
	float: left;
	display: inline-block;
}

div.mt-icon-edit {
	xleft: 1.2em;
	margin: 0em 1em background-color :                       
		                                      
		                          Red;
}

div.mt-icon-view {
	xleft: 2em;
	margin: 0em 1em background-color :                   
		                                      
		                              LightGreen;
}

table tr td {
	vertical-align: top;
}

div.nowrap {
	white-space: nowrap;
}

/**
*
*
* MT COMMONS
*
*/
div.mt-button {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	border: 1px Blue solid;
	margin-right: 0.4em;
}

div.mt-button span {
	margin: 0.4em 0.1em;
}

div.mt-button:hover {
	background-color: LightBlue;
}

/*
-------------
AGENDA BREADCRUMBS
-------------
*/
div.mp ul.breadcrumbs li {
	line-height: 1.6em;
	padding: 4px;
}

div.mp ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.mp ul.breadcrumbs {
	overflow: hidden;
	width: 100%;
}

div.mp ul.breadcrumbs li {
	float: left;
	margin: 0 .5em 0 1em;
}

div.mp ul.breadcrumbs a {
	background: #ddd;
	padding: .7em 1em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	position: relative;
}

div.mp ul.breadcrumbs a:hover {
	background: yellow;
}

div.mp ul.breadcrumbs a::before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: #ddd #ddd #ddd transparent;
	xleft: -1em;
	left: -0.9em;
}

div.mp ul.breadcrumbs a:hover::before {
	border-color: yellow yellow yellow transparent;
}

div.mp ul.breadcrumbs a::after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1.1em solid #ddd;
	xborder-left: 1em solid #ddd;
	right: -1em;
}

div.mp ul.breadcrumbs a:hover::after {
	border-left-color: yellow;
}

div.mp ul.breadcrumbs .current,div.mp ul.breadcrumbs .current:hover {
	font-weight: bold;
	background: none;
}

div.mp ul.breadcrumbs .current::after,div.mp ul.breadcrumbs .current::before
	{
	content: normal;
}

/*
-------------
AGENDA BREADCRUMBS END
-------------
*/

/*
-------------
DOCUMENT LIST
-------------
*/
div.mp-file {
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 1em;
}

div.mp-file div.mp-file-image img {
	display: inline-block;
	max-height: 10em;
	xmax-width: 6em;
	cursor: pointer;
	border: 1px gray solid;
	padding: 0.2em;
}

div.mp-file div.mp-file-image {
	margin: 0.2em;
}

div.mp-file div.mp-file-name {
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
}

div.mp-file div.mp-file-owner {
	font-size: 0.7em;
	font-style: italic;
}

div.mp-file div.mp-file-date {
	font-size: 0.7em;
	font-style: italic;
}

div.mp-file a.mp-file-link, div.mp-file a.mp-file-link:visited  {
    font-size: 0.8em;
    text-decoration: none;
    color: gray;
}

div.mp-files-history-list a.mp-file-link {
    font-size: 0.9em;
    text-decoration: none;
}

div.mp-files-history-list h1 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}

/* div.document-list { */
/* 	border: red 1px solid; */
/* } */

zza.ui-button {
	border: 1px solid #6666ff;
	border-radius: 2px;
	color: #6666ff;
	margin: 2px;
}

zz.ui-button-text-only .ui-button-text {
	padding: 2px 8px;
	letter-spacing: 1pt;
	color: #6666ff;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	overflow-x: hidden;
	cursor: pointer;
	background-color: white;
}

zza.ui-state-hover  span.ui-button-text {
	background-color: #E8E8E8;
}