
div.soc div.main {
	
}

div.soc-log-panel {
	position: fixed;
	bottom: 6em;
	left: 1em;
	min-height: 14em;
	max-height: 14em;
	min-width: 2em;
	max-width: 2em;
	font-size: 0.7em;
	border: 2px solid white;
	white-space: normal;
	overflow-wrap: break-word;
	overflow: hidden;
	z-index: 100;
	cursor: pointer;
	background-color: GhostWhite;
}

div.soc div.log-panel div.soc-content {
	display: none;
}

div.soc div.log-panel div.soc-icon {
	display: block;
	min-height: 14em;
	max-height: 14em;
	min-width: 2em;
	max-width: 2em;
	background-image: url("../img/mt-log-left.png");
	background-repeat: no-repeat;
}

div.soc-log-panel:hover div.soc-content {
	display: block;
}

div.soc-log-panel:hover div.soc-icon {
	display: none;
}

div.soc-log-panel:hover {
	min-witdh: 60%;
	witdh: 60%;
	max-width: 60%;
	min-height: 60%;
	height: 60%;
	max-height: 60%;
	overflow: scroll;
	padding: 2em;
	background-color: white;
	border: 2px solid gray;
}

div.soc div.mt-list div.header {
	border: 1px dashed gray;
	padding: 1em;
	margin: 0.2em 0em;
	background-color: #00007A;
	color: lightgray;
	cursor: pointer;
}

/** icon */
div.mt-list.mini div.toolbar {
	display: none;
}

div.mt-list.mini div.header {
	font-size: 50%;
}

div.meeting-type div.header {
	background-color: #E6E6F2;
	color: black;
}

div.soc div.meeting div.header {
	background-color: #990000;
	color: lightgray;
}

div.soc div.mt-list div.main {
	xborder: 1px dashed gray;
	xpadding: 1em;
	margin: 0em 0em;
}

div.soc div.meeting-list-element {
	background-color: #EBCCCC;
}

div.agenda-list-element {
	background-color: #B2C2B2;
}

div.agenda div.header {
	background-color: #6B746B;
	color: lightgray;
}

div.toolbar {
	xborder: 1px dashed gray;
	padding: 0em 0em;
	margin: 1em 0em;
	font-size: 80%;
}

div.info-box {
	border: 1px dashed transparent;
	padding: 1em;
	margin: 1em 0em;
	font-weight: bold;
	font-style: italic;
}

div.warn-box {
	border: 1px dashed Orange;
	padding: 1em;
	margin: 1em 0em;
	font-weight: bold;
	font-style: italic;
}

div.soc table {
	border-spacing: 0;
	border-collapse: collapse;
}

div.soc tr.header {
	border: gray 1px solid;
}

div.soc tr.header * {
	font-weight: bold;
	padding: 0em 0.2em;
}

div.soc tr.even {
	background-color: white;
}

div.soc tr.odd {
	background-color: LightGray;
}

div.title1 * {
	font-size: 2em;
	font-weight: bold;
	ccolor: gray;
}

div.title2 * {
	font-size: 1.4em;
	font-weight: bold;
	ccolor: gray;
}

div.title3 * {
	font-size: 1.2em;
	font-weight: bold;
	color: gray;
}

div.new-meeting-panel,div.new-meeting-type-panel {
	margin-left: 4em;
	padding: 1em;
	border: gray dashed 1px;
}

div.meeting-type-element,div.meeting-list-element,div.agenda-list-element
	{
	display: block;
	padding: 0.4em;
	border: 1px dashed gray;
	margin: 0.6em 0em;
}

div.meeting-list-panel {
	display: block;
	padding: 0.4em;
	border: 1px dashed gray;
	margin: 0.6em 0em;
}

div.meeting-type-element:hover {
	background-color: #E6E6F2;
	font-weight: bold;
	color: Black;
}

div.soc div.meeting-list-element:hover {
	background-color: #990000;
	font-weight: bold;
	color: white;
}

div.soc div.agenda-list-element:hover {
	background-color: #6B746B;
	font-weight: bold;
	color: white;
}

div.soc div.meeting-list-element *,div.agenda-list-element * {
	display: inline-block;
	cursor: pointer;
}

div.soc div.meeting-list-element div.name,div.agenda-list-element div.name {
	min-width: 16em;
}

div.soc div.meeting-list-element div.startTime {
	min-width: 10em;
}

div.soc div.meeting-list-element div.endTime {
	min-width: 10em;
}

div.soc div.meeting-list-element div.description {
	display: none;
}

div.soc div.meeting-list-element div.location {
	display: none;
}

div.soc div.meeting-list-element div.actions,div.agenda-list-element div.actions
	{
	min-width: 12em;
	float: right;
}

div.soc div.mt-meeting-name {
	position: relative;
	xleft: 10%;
	xborder: solid 1px white;
	display: inline-block;
	min-width: 90%;
	max-width: 90%;
	cursor: pointer;
}

div.mt-next-meeting-time {
	display: none;
}

div.soc div.mt-log-panel div.info {
	background-color: LightGreen;
}

div.soc div.mt-busy-icon {
	background-image: url("../img/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	border: red dotted 2px;
	min-height: 5em;
	min-width: 5em;
}

div.soc span.ui-icon-custom-busy {
	background-image: url("../img/ajax-loader.gif");
	background-position: -4px -4px;
}

/** small batch icons on MT */
div.soc div.mt-small-icon {
	position: relative;
	top: -2em;
	margin-right: 1em;
	min-height: 0.4em;
	max-height: 0.4em;
	min-width: 0.4em;
	max-width: 0.4em;
	cursor: pointer;
	float: left;
	display: inline-block;
}

div.soc div.mt-icon-edit {
	xleft: 1.2em;
	margin: 0em 1em background-color :        
		                                      
		           Red;
}

div.soc div.mt-icon-view {
	xleft: 2em;
	margin: 0em 1em background-color :    
		                                      
		               LightGreen;
}

div.soc table tr td {
	vertical-align: top;
}

div.soc div.nowrap {
	white-space: nowrap;
}

/**
*
*
* MT COMMONS
*
*/
div.soc div.mt-button {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	border: 1px Blue solid;
	margin-right: 0.4em;
}

div.soc div.mt-button span {
	margin: 0.4em 0.1em;
}

div.soc div.mt-button:hover {
	background-color: LightBlue;
}

/*
-------------
DOCUMENT LIST
-------------
*/
div.soc div.document-list {
	border: red 1px solid;
}

zza.ui-button {
	border: 1px solid #6666ff;
	border-radius: 2px;
	color: #6666ff;
	margin: 2px;
}

zz.ui-button-text-only .ui-button-text {
	padding: 2px 8px;
	letter-spacing: 1pt;
	color: #6666ff;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	overflow-x: hidden;
	cursor: pointer;
	background-color: white;
}

zza.ui-state-hover  span.ui-button-text {
	background-color: #E8E8E8;
}